.login-page__container {
    padding-left: 0 !important;
    margin-left: 0 !important;
    padding-right: 0 !important;
    margin-right: 0 !important;
    max-width: 100% !important;
}

.login-page__form-container {
    display: grid;
    align-items: center;
}

.login-page__logo-container {
    text-align: center;
}