.login-form__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form__container-title {
    text-align: center !important;
    margin-bottom: .3rem;
}

.login-form__register-label {
    text-decoration: underline;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
}

.login-form__container-box {
    width: 80%;
}

.login-form__container-login-feedback {
    color: red;
    font-size: 11px;
}

.login-form__header-container {
    text-align: center;
}