.register-form__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-form__register-label {
    text-decoration: underline;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
}

.register-form__register-title {
    text-align: center !important;
}

.register-form__container-box {
    width: 80%;
}