.register-form__container {
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
}

.register-form__register-label {
    text-decoration: underline;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
}